#syf-child-closer {
    position: fixed;
    top: 40px;
    right: 40px;
}
#syf-child-closer.active {
    display: block;
    cursor: pointer;
    z-index: 999999;
}

#syf-child-closer.idle {
    display: none;
}

#syf-opaque-client {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

#syf-opaque-client.idle {
	display: none;
}

#syf-opaque-client.active {
	display: block;
	background: none;
	background-color: rgba(39,59,73,.9);
	cursor: pointer;
	z-index: 999998;
}

#syf-parent-image {
	align-self: center;
	width: 75%;
	height: 50px;
}

.syf-parent {
	width:  400px;
	max-width: 90%;
	align-self: center;
}

.syf-parent-text {
	align-self: center;
	color: black;
    text-align: center;
    height: 75px;
	width: 80%;
	font-family: "Open Sans", Arial, sans-serif;
}

#syf-parent-text-wrapper {
	background-color: #FAC610;
	display: flex;
	flex-direction: column;
    justify-content: center;
	padding-bottom: 20px;
}

#syf-parent-text2 {
	text-decoration: underline;
}

#syf-parent-wrapper {
	position: absolute;
	/* place this block 2/3 of the way down the page */
	/* (syf-parent-logo-wrapper.height = 150px) + (2*syf-parent-text.height=75px) = 300px */
	top: calc( 2 * (100% - 300px) / 3);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#syf-parent-logo-wrapper {
	background-color: #FFFFFF;
    height: 150px;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
